streamlit
python-dotenv
groq
requests
folium
streamlit-folium
streamlit-js-eval

langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface

chromadb
sentence-transformers
pypdf
huggingface-hub